ENVIRONMENT=development
DATABASE_URL=mysql://USER:PASSWORD@URI:PORT/DATABASE_NAME?ssl-mode=REQUIRED
SERVER_ADDRESS=:8080
HSM_LIBRARY_PATH=/usr/lib/softhsm/libsofthsm2.so
HSM_TOKEN_LABEL=TOKEN
HSM_PIN=PIN